footer{
    background-color: #002944;
    width: 100%;
    color: white;
}
footer p{
    color: white;
}
#footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1330px;
    margin: auto;
}
#footer-info, #footer-quicklinks{
    padding: 40px 0 0 0;
}
#footer-info p{
    padding: 24px 0 32px 0;
    max-width: 400px;
}
#contact-footer{
    border: none;
    border-radius: 40px;
    width: 169px;
    height: 48px;
    font-size: 16px;
    color: #1A1C59;
    background-color: white;
    font-weight: bold;
}
#contact-footer:focus{
    outline: 0;
}
#footer-quicklinks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:'. .' 'para para';
}
#footer-quicklinks a{
    text-decoration: none;
    margin: 0 0 16px 0;
    color: white;
}
#footer-quicklinks p{
    grid-area: para;
    padding: 60px 0 0 0;
}
#footer-links1 h3{
    padding: 37px 0 32px 0;
}
#footer-links1, #footer-links2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}
