@media (max-width: 1024px){
    #footer{
        width: 90%;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    header {
        height: 104px;
        max-height: 104px;
    }

    #logo-div img {
        vertical-align: middle;
        width: 160px;
    }

    #navbar {
        min-height: 37px;
    }

    #hamburger {
        display: unset;
    }

    #menu {
        display: none;
    }

    #intro {
        grid-template-columns: repeat(1, 100vw);

    }

    #intro-text {
        place-self: center;
    }

    #intro img {
        width: 90vw;
        place-self: center;
        padding: 1em 0;
    }

    #what-we-do p {
        width: 95%;
        text-align: center;
        place-self: center;
    }

    #impact-info {
        grid-template-columns: repeat(1, auto);
        padding: 0;
    }

    .impact-cat p {
        padding: 12px 0;
    }

    .impact-cat img {
        padding: 0 0 50px 0;
    }

    #footer{
        grid-template-columns: repeat(1, auto);
        place-items: center;
    }
    #footer-info {
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer-info p{
        max-width: 100%;
        text-align: center;
    }

}
@media (max-width: 480px) {

    #footer {
        grid-template-columns: repeat(1, auto);
        text-align: center;
    }

    #footer-quicklinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: -webkit-center;
    }

    #footer-quicklinks p {
        white-space: nowrap;
        font-size: smaller;

    }


}